// Import theme colors
@import 'theme-colors';

@font-face {
  font-family: "Raleway";
  src: url("/static/simple-theme/fonts/Raleway-Regular.ttf") format("truetype");
}

// Overrides to make the theme pretty
.global-header {
  background: $header-bg;

  a.sign-in-btn,
  a.register-btn:hover
  {
    color: $header-bg !important; // Main color
    background: $main-color !important; // Link color
    border-color: $header-bg !important; // Main color
  }
  a.register-btn,
  a.sign-in-btn:hover
  {
    color: $main-color !important; // Link color
    background: $header-bg !important; // Main color
    border-color: $main-color !important; // Link color
  }

  .nav-links .main .nav-tab a {
      color: $link-color;
  }
  .nav-links .main .nav-tab a.active,
  .nav-links .main .nav-tab a:hover {
    border-bottom-color: $link-color;
    border-bottom-style: solid;
  }

  span {
    color: $header-font-color; // Header text color
  }

  .nav-links .secondary {
    .nav-item a {
      color: $link-color;
    }
    .dropdown-user-menu {
      background-color: #ffffff;

      .dropdown-item a {
        color: $link-color;
      }
    }
  }
}

.wrapper-footer {
  background: $footer-bg; // Footer color
  background-color: $footer-bg !important; // Footer color

  border-top: 5px solid #AAA;
  box-shadow: none;

  p.copyright,
  footer .copyright,
  footer#footer-openedx p.copyright
  {
    color: $footer-font-color !important;  // Footer text color
  }

  footer#footer-openedx {
    .colophon {
      margin: 0 auto;
      float: none;
      width: 65.88078%;
    }

    .footer-about-openedx {
      width: 100%;
    }

    .copyright {
        margin-bottom: 8px;
        font-size: 0.6875em;
    }

    .footer-about-openedx a {
        float: right;
    }

    .nav-legal {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      li {
        display: inline-block;
        font-size: 0.6875em;
      }

      li:not(:first-child)::before {
          margin-right: 5px;
          content: "-";
      }
    }
  }

  .nav-colophon {
    ol {
      padding-left: 0;
    }

    li {
      float: none !important;
      display: inline-block !important;
      margin-right: 15px;

      a {
        color: $link-color !important;
      }
    }

    li:last-child {
      margin-right: 0;
    }
  }

  .centre-footer {
    text-align: center;
  }

  .contact-link, .contact-link a {
    color: black !important;
  }

  .contact-link + .contact-link {
    margin-top: 0.5em;
  }

  .follow-us-tagline {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .contact-tagline {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 2rem;

    .bold-red {
      text-transform: uppercase;
      color: $link-color;
    }
  }

  .footer-social-icons {
    margin-bottom: 1rem;

    a:not(:last-child) {
      margin-right: 15px;
    }

    a {
      color: black !important;
    }
  }
}

.wrapper-course-material .course-tabs .tab {
  a:hover, a.active {
    color: $link-color !important;
    border-bottom-color: $link-color;
  }
}

.content-wrapper {
  h4 a:hover,
  h3 a:hover
  {
   color: $main-color !important; // Main color
  }

  .course-tabs .tab a,
  .course-tabs .nav-item .nav-link
  {
    color: black !important;
  }

  .course-tabs .nav-item.active .nav-link,
  .course-tabs .nav-item:hover .nav-link {
    color: $link-color !important;
    border-bottom-color: $link-color !important;
  }

  .home header {
    background-image: url("/static/simple-theme/images/header-background.jpg");

    .outer-wrapper {
      animation: none !important;
      max-width: unset !important;
      text-align: center;

      > .title {
        background: none;
        box-shadow: none;

        > .heading-group {
          > .hero-title {
            font-family: "Raleway";
            font-size: 36px;
            color: white;
            text-shadow: none;
            text-align: center;
          }

          > .hero-subtitle {
            font-family: "Raleway";
            font-size: 24px;
            font-style: normal;
            color: white;
            text-align: center;
          }
        }

        > .course-search {
          max-width: 300px !important;
          margin: 0 auto;

          .search-button {
            right: unset !important;
          }
        }
      }
    }
  }
}

.wiki-wrapper section.wiki
{
  .nav-tabs li.active a,
  .nav-tabs a:hover,
  .article-functions .see-children a:hover
  {
    color: $main-color; // Main color
  }
}

// Fix instructor page
.instructor-dashboard-content-2 .instructor-nav
{
  .nav-item .btn-link:hover,
  .nav-item .btn-link:focus,
  .nav-item .btn-link.active-section
  {
    color: $link-color;
    border-bottom: 3px solid $link-color;
  }

  .nav-item .btn-link
  {
    color: black;
  }
}

 // User profile photo bar
.view-profile .wrapper-profile-section-container-one .wrapper-profile-section-one {
  border-top-color: $link-color; // Link Color
}

.date-summary-container .date-summary-todays-date
{
  border-left: 3px solid $main-color;
}

 // Login and registration fixes
.login-register
{
  a:hover {
    color: $main-color !important;
  }
  .form-field
  {
    .field-link {
      color: $link-color;
    }
    .field-link:hover {
      color: $main-color;
    }
    select {
      -webkit-appearance: menulist;
    }
    select, .input-block {
      border-color: #c8c8c8;
    }
  }
}
.login-register-content h2 {
  color: #000000 !important;
}
.login-register .action-primary {
  background: $main-color !important;
  border: 0;
}

 .fa-chevron-right:before {
  color: $main-color !important;
}

.course {
  .course-info {
    display: flex;
    flex-direction: column;

    .course-name {
      flex: 1;
      margin-bottom: 0;

      .course-title {
        height: unset !important;
        margin-bottom: 14px !important;
      }
    }

    .course-description {
      flex: 2;
      color: #333333;
      padding: 0 15px;
      overflow: hidden;
      position: relative;
      line-height: 1.3em;
      max-height: 5.2em; // should be multiple of line-height
      margin-bottom: 1.2em;
    }

    .course-date {
      flex: 0;
    }
  }
}

section.course-info {
  header.course-profile {
    padding-top: 0;
    height: unset;
  }
}

.search-explore-text {
  margin-bottom: 72px;
}

.explore-text {
  text-align: center;

  .spaced-words {
    font-family: "Raleway";
    font-size: 36px;
    display: flex;
    justify-content: center;

    span {
      margin: 1em;
    }

    span + span::before {
      content: "—";
      margin-right: 1em;
      margin-left: -1em;
    }
  }
}

.raleway {
  font-family: "Raleway" !important;
}

.red {
  color: $link-color;
}

#user-menu {
  background-color: white !important;
}

// TODO: configure backend to not send these extra facets. It's supposed to be
// controlled by COURSE_DISCOVERY_FILTERS, but this doesn't appear to be
// working.
.search-facets-lists [data-facet="org"] ~ *{
  display: none;
}
