## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<% icp_license_info = getattr(settings, 'ICP_LICENSE_INFO', {})%>
<%namespace name='static' file='static_content.html'/>

<div class="wrapper wrapper-footer">
  <footer id="footer-openedx" class="grid-container"
    ## When rendering the footer through the branding API,
    ## the direction may not be set on the parent element,
    ## so we set it here.
    % if bidi:
      dir=${bidi}
    % endif
  >
    <div class="colophon">

      % if context.get('include_language_selector', footer_language_selector_is_enabled()):
          <%include file="${static.get_template_path('widgets/footer-language-selector.html')}"/>
      % endif

      <div class="wrapper-logo">
        <p>
          <a href="/">
            ## The default logo is a placeholder.
            ## You can either replace this link entirely or update
            ## the FOOTER_ORGANIZATION_IMAGE in Django settings.
            ## If you customize FOOTER_ORGANIZATION_IMAGE, then the image
            ## can be included in the footer on other sites
            ## (e.g. a blog or marketing front-end) to provide a consistent
            ## user experience.  See the branding app for details.
            <img alt="organization logo" src="${footer['logo_image']}">
          </a>
        </p>
      </div>

      <div class="centre-footer raleway">

        <div class="contact-tagline"><span class="bold-red">Speak</span> with us.</div>

        <div class="contact-link">
          <i class="fa fa-phone"></i> <a href="tel:02074938300">020 7493 8300</a>
        </div>
        <div class="contact-link">
          <i class="fa fa-envelope"></i> <a href="mailto:openlearning@montessori.org.uk">openlearning@montessori.org.uk</a>
        </div>

        <div class="follow-us-tagline">Or follow us on social media:</div>

        <div class="footer-social-icons">
          <a href="https://www.facebook.com/montessoriUK"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/MontessoriUK"><i class="fa fa-twitter"></i></a>
          <a href="https://www.instagram.com/MontessoriUK/"><i class="fa fa-instagram"></i></a>
          <a href="https://www.linkedin.com/company/montessori-st-nicholas-charity/"><i class="fa fa-linkedin"></i></a>
        </div>

        <nav class="nav-colophon" aria-label="${_('About')}">
          <ol>
              % for item_num, link in enumerate(footer['navigation_links'], start=1):
              <li class="nav-colophon-0${item_num}">
                <a id="${link['name']}" href="${link['url']}">${link['title']}</a>
              </li>
              % endfor
              <li class="nav-colophon-03">
                <a id="support" href="https://moodle.montessori.org.uk/mod/page/view.php?id=29030">Support</a>
              </li>
              <li class="nav-colophon-04">
                <a id="faq" href="/faq">FAQ</a>
              </li>
          </ol>
        </nav>
      </div>

      ## Site operators: Please do not remove this paragraph! This attributes back to edX and makes your acknowledgement of edX's trademarks clear.
      <p class="copyright">© Montessori Centre International trading as St Nicholas Montessori Training Limited. All rights reserved except where noted. edX, Open edX and their respective logos are registered trademarks of edX Inc.
          % if icp_license_info.get('icp_license'):
            ${u" | {text}".format(text=icp_license_info.get('text'))}
            <a href="${icp_license_info.get('icp_license_link', '#')}">
                ${u" {icp}".format(icp=icp_license_info.get('icp_license'))}
            </a>
          % endif
      </p>

      <nav class="nav-legal" aria-label="${_('Legal')}">
        <ul>
          % for item_num, link in enumerate(footer['legal_links'], start=1):
            <li class="nav-legal-0${item_num}">
              <a href="${link['url']}">${link['title']}</a>
            </li>
          % endfor
        </ul>
      </nav>
    </div>

    ## Please leave this link and use one of the logos provided
    ## The OpenEdX link may be hidden when this view is served
    ## through an API to partner sites (such as marketing sites or blogs),
    ## which are not technically powered by OpenEdX.
    % if not hide_openedx_link:
    <div class="footer-about-openedx">
      <p>
        <a href="${footer['openedx_link']['url']}">
          <img src="${footer['openedx_link']['image']}" alt="${footer['openedx_link']['title']}" width="140" />
        </a>
      </p>
    </div>
    % endif
  </footer>
</div>

% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
